// Banner
.bannerTitle {
    font-size: 36px;
    line-height: 40px;
}

@media (min-width: 900px) {
    .bannerTitle {
        font-size: 54px;
        line-height: 60px;
    }
}

.bannerSlider {
    padding: 25.6px;
    min-width: 2000px;
    height: calc(100vh - 100px);
    max-height: 790px;
    overflow: hidden;
    border-radius: 7px;
}

.animateUp {
    animation: 35s linear 0s infinite normal none running slideup;
}

@keyframes slideup {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(0px, -100%, 0px);
    }
}

.animateDown {
    animation: 35s linear 0s infinite normal none running slideDown;
}

@keyframes slideDown {
    0% {
        transform: translate3d(0, -100%, 0);
    }
    100% {
        transform: translate3d(0px, 0, 0px);
    }
}

//
// Sections common
//

.sectionTitle {
    font-size: 25px;
    line-height: 30px;
}

@media (min-width: 1200px) {
    .sectionTitle {
        font-size: 36px;
        line-height: 43px;
    }
}

//
// frameworks
//
.slider-group {
    animation: slide 45s linear infinite;
}

@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-100%, 0, 0);
    }
}



@media screen and (max-width: 600px) {
    .m-btn-full {
        width: 100%;
    }
}

.v-btn--size-default {
    &.nav-links {
        font-size: $font-size-root !important;
        .v-btn__overlay {
            display: none;
        }
        &:hover {
            color: rgb(var(--v-theme-primary)) !important;
        }
    }
}


.row-up {
    z-index: 1;
    position: relative;
}
.prev-btn{
    margin: 0 110px;
}
